version: 2
updates:
  # Update npm dependencies
  - package-ecosystem: 'npm'
    directory: '/'
    exclude-paths:
      - tests/envs/**
    schedule:
      interval: 'monthly'
    groups:
      lint:
        patterns:
          - '*eslint*'
          - '*prettier*'
          - '*typescript*'
      test:
        patterns:
          - '*svelte*'
          - '*testing-library*'
          - '*vite*'
          - '*vitest*'
          - '*jsdom*'
          - '*happy-dom*'
          - 'expect-type'
      development:
        dependency-type: 'development'

  # Update GitHub Actions dependencies
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      actions:
        patterns:
          - '*'
