.DS_Store
node_modules
public/bundle.*
coverage
dist
.idea
*.tgz

# These cause more harm than good when working with contributors
yarn-error.log
package-lock.json
yarn.lock

# generated typing output
types
